#invoice-list {
    width: 100%;
    // display: none;
    .outer-container {
      width: 100%;
      border: 4px solid #b3f263;
      height: 757px;
      overflow: hidden;
      table {
        width: 100%;
        height: auto;
        border-collapse: collapse;
        tr {
          height: 32px;
          &:nth-child(odd){
            background: rgba(147, 237, 33, 0.7);
          }
          th {
            background: rgba(147, 237, 33, 0.7);
            border-bottom: 1px solid #7cb417;
            border-right: 1px solid #7cb417;
            font-family: "Inria Serif";
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            &:last-child{
              border-right: none;
            }
          }
          #th1{
            width: 56px;
          }
          #th2{
            width: 149px;
          }
          #th3{
            width: 250px;
          }
          #th4{
            width: 434px;
          }
          #th5{
            width: 250px;
          }
          #th6{
            width: 300px;
          }
          td {
            font-family: "Inria Serif";
            font-size: 20px;
            line-height: 20px;
            color: #472f01;
            border-right: 1px solid #7CB417;
            text-align: center;
            &:last-child{
              border-right: none;
            }
            input {
              width: 20px;
              height: 20px;
              background: #ffffff;
              border: none;
              border: 2px solid #b3f263;
              border-radius: 5px;
            }
          }
        }
      }
    }
    .footer {
      height: 40px;
      width: 100%;
      position: absolute;
      bottom: 0;
      background: #b3f263;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .inv-num {
        position: absolute;
        height: 55.68px;
        width: 330.23px;
        left: 0;
        bottom: 0px;
        background: #93ed21;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0 50px 0 0;
        padding: 20px;
        #invoice {
          font-family: "Inria Serif";
          font-weight: 700;
          font-size: 24px;
          line-height: 24px;
          color: #472f01;
        }
      }
      .outer-container2 {
        width: 1100px;
        margin: 6px 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .icons {
          display: flex;
          align-items: center;
          margin-left: 20px;
          a{
            text-decoration: none;
            img {
                width: 20px;
                height: 20px;
                margin: 0 8px;
                color: blue;
                &:hover{
                    color: red;
                }
              }
          }
        }
        img {
          height: 29px;
          width: 50px;
        }
      }
    }
  }