#main-page {
    // display: none;
    max-height: 100vh;
    .profile-background {
      position: absolute;
      left: -52px;
      width: 357.65px;
      height: 443.23px;
      top: -200px;
      background: #93ed21;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 60px;
      transform: rotate(45.56deg);
      z-index: -1;
    }
    .profile-container {
      margin: 26px 22px;
      width: 250px;
      p {
        margin: 9px 0;
        font-family: "Inria Serif";
        font-size: 20px;
        line-height: 24px;
        color: #472f01;
      }
      img {
        margin: 16px 0;
      }
    }
    #main-page-bcgr {
      position: absolute;
      right: 0;
      top: -93.45px;
    }
    .tabs {
      margin-left: 19px;
      height: auto;
      width: 270px;
      position: relative;
      .one {
        display: block;
        position: relative;
        .tab {
          display: inline-block;
          background: #93ed21;
          width: 220px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 5px;
          padding: 10px 5px;
          margin: 10px 0;
          font-size: 15px;
          line-height: 24px;
          color: #472f01;
          transition: 0.2s ease-in-out;
          cursor: pointer;

          & span {
            content: url("./../images/doubleRightArrow.png");
            display: inline-block;
            margin: 5px 7px -5px 15px;
            width: 20px;
            height: 20px;
          }
          &:hover {
            background-color: #ff8585;
          }
        }
        .after {
          display: inline-block;
          position: absolute;
          transform: rotate(135deg);
          width: 74px;
          height: 37px;
          background-color: rgb(255, 255, 255);
          top: 34px;
          left: 175px;
          z-index: 2;
          border-top-left-radius: 40px;
          border-top-right-radius: 40px;
        }
      }
    }
    .main-page-footer {
      position: absolute;
      width: 1440px;
      height: 60px;
      left: 0px;
      bottom: 0px;
      background: #93ed21;
      img {
        width: 80px;
        height: 43px;
        float: right;
        margin: 10px 42px;
      }
    }
  }